<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.joonzis.mapper.ReplyMapper">
	<!-- 댓글 추가  -->
	<insert id="insert">
		INSERT INTO TBL_REPLY(rno, bno, reply, replyer)
		VALUES(
			seq_reply.nextval,
			#{bno},
			#{reply},
			#{replyer}
		)
	</insert>
	
	<!-- 댓글 목록 -->
	<select id="getList" 
			parameterType="int" 
			resultType="org.joonzis.domain.ReplyVO">
		SELECT *
		FROM TBL_REPLY
		WHERE BNO=#{bno}
		ORDER BY RNO ASC
	</select>
	
	<!-- 댓글 읽기 -->
	<select id="read"
			parameterType="int" 
			resultType="org.joonzis.domain.ReplyVO">
		SELECT *
		FROM TBL_REPLY
		WHERE RNO=#{rno}
	</select>
	
	<!-- 댓글 삭제 -->
	<delete id="delete">
		DELETE FROM TBL_REPLY WHERE RNO=#{rno}
	</delete>
	
	<!-- 댓글 수정 -->
	<update id="update">
		UPDATE TBL_REPLY
		SET
			reply=#{reply},
			updatedate = sysdate
		WHERE
			rno=#{rno}
	</update>

</mapper>






